/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 30px;
  line-height: 44px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #222;
}

/* Header style section */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3;
  height: 70px;
  width: 100%;
  padding: 20px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 999;
}

#logo {
  height: 70px;
  width: 70px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  list-style: none;
  padding: 0px 10px;
}

#navbar li a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1rem;
}

#navbar li a:hover {
  color: rgb(72, 72, 244);
  transition: 0.1s;
}

#navbar li a.active {
  color: rgb(72, 72, 244);
}

#mobile {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

#close {
  display: none;
}

/* hero section */

#hero {
  min-height: 90vh;
  width: 100%;
  background-color: #e3e6f3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero_img {
  min-height: 500px;
  min-width: 700px;
  background-color: transparent;
  background-image: url("/assets/hero1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero_texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

#hero a {
  background-color: transparent;
  background-image: url("/assets/button.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px 25px;
  gap: 10px;
}

#hero h4,
#hero h3 {
  opacity: 0.7;
}

#home h1 {
  margin: 10px 0px;
}

/* for ipad screen */

@media (max-width: 1077px) {
  #hero_img {
    min-height: 400px;
    min-width: 600px;
  }
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }
  #home_texts {
    gap: 5px;
  }
  h1,
  h3,
  h4,
  #home p {
    line-height: 35px;
  }
}

@media (max-width: 1007px) {
  #hero_img {
    min-height: 350px;
    min-width: 550px;
  }

  #hero h4{
	font-size: 15px;
  }
}

@media (max-width: 965px) {
  #hero_img {
    min-height: 300px;
    min-width: 500px;
  }
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 780px) {
  #mobile {
    display: flex;
    gap: 10px;
  }
  #mobile i {
    font-size: 24px;
  }
  #navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    position: fixed;
    top: 0px;
    right: -300px;
    padding: 80px 0px 0px 10px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }

  #close {
    display: flex;
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
    font-size: 20px;
  }

  #inside_cart {
    display: none;
  }

  #navbar.active {
    right: 0px;
  }

  #bar {
    cursor: pointer;
  }

  #hero{
	height: 60vh;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  #hero_texts {
	height: 60vh;
	width: 100%;
	align-items: center;
	padding: 20px;
	z-index: 998;
	background: rgba(255, 255, 255, 0.15); 
    border-radius: 20px;
  }

  #hero h3, #hero h4, #hero p, #hero a{
	color: black;
	opacity: 1;
	font-weight: 700;
  }

  #hero_img {
	width: 100%;
	height: 70%;
	position: absolute;
  }

}

/* for mobile screen */

@media (max-width: 580px) {
  #navbar {
    width: 230px;
  }

  #hero_img {
	width: 85%;
	height: 60%;
	position: absolute;
  }
}
