/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 30px;
  line-height: 44px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #222;
}

/* Header style section */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3;
  height: 70px;
  width: 100%;
  padding: 20px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#logo {
  height: 70px;
  width: 70px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li {
  list-style: none;
  padding: 0px 10px;
}

#navbar li a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1rem;
}

#navbar li a:hover {
  color: rgb(72, 72, 244);
  transition: 0.1s;
}

#navbar li a.active {
  color: rgb(72, 72, 244);
}

#mobile {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

#close {
  display: none;
}

/* hero section */

#hero {
  width: 100%;
  background-color: #e3e6f3;
  padding: 100px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero_img {
  min-height: 500px;
  min-width: 700px;
  background-color: transparent;
  background-image: url("../assets/hero1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero_texts {
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero a {
  background-color: transparent;
  background-image: url("../assets/button.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero h4,
#hero h3 {
  opacity: 0.7;
}

/* hero image responsiveness */

@media (max-width: 1332px) {
  #hero_img {
    min-height: 450px;
    min-width: 600px;
  }
  #hero_texts {
    height: 400px;
  }

  #hero h1 {
    font-size: 40px;
  }

  #hero h3 {
    font-size: 25px;
  }

  #hero h4 {
    font-size: 20px;
  }

  #hero p {
    font-size: 18px;
  }

  #hero a {
    font-size: 19px;
  }
}

@media (max-width: 1120px) {
  #hero_img {
    min-height: 350px;
    min-width: 550px;
  }
  #hero_texts {
    height: 350px;
  }

  #hero h1 {
    font-size: 35px;
  }

  #hero h3 {
    font-size: 20px;
  }

  #hero h4 {
    font-size: 15px;
  }

  #hero p {
    font-size: 14px;
  }

  #hero a {
    font-size: 15px;
  }

  #hero {
    padding: 80px 10px;
  }
}

@media (max-width: 1017px) {
  #hero_img {
    min-width: 500px;
  }
  #hero {
    padding: 70px 10px;
  }
}

@media (max-width: 965px) {
  #hero_img {
    min-width: 450px;
  }
}

@media (max-width: 916px) {
  #hero_img {
    min-height: 300px;
    min-width: 400px;
  }
}

@media (max-width: 866px) {
  #hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 0px 0px;
  }
  #hero_img {
    position: absolute;
    width: 100%;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: overlay;
  }
  #hero h1,
  #hero h3,
  #hero h4,
  #hero p,
  #hero a {
    line-height: 38px;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
  #hero_texts {
    padding: 0px;
    z-index: 888;
    align-items: center;
    height: 500px;
  }
  #hero a {
    font-weight: 700;
  }
}

/* for ipad screen */

@media (max-width: 780px) {
  #mobile {
    display: flex;
    gap: 10px;
  }
  #mobile i {
    font-size: 24px;
  }
  #navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    position: fixed;
    top: 0px;
    right: -300px;
    padding: 80px 0px 0px 10px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }

  #close {
    display: flex;
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
    font-size: 20px;
  }

  #inside_cart {
    display: none;
  }

  #navbar.active {
    right: 0px;
  }

  #bar {
    cursor: pointer;
  }
}

@media (max-width: 690px) {
  #hero_img {
    min-height: 350px;
  }
  #hero_texts {
    max-height: 350px;
  }
}

@media (max-width: 480px) {
  #navbar {
    width: 230px;
  }
  #hero_img {
    min-height: 250px;
  }
  #hero_texts {
    height: 250px;
    padding: 0;
  }
  #hero h1 {
    font-size: 22px;
  }

  #hero h3 {
    font-size: 15px;
  }

  #hero h4 {
    font-size: 10px;
  }

  #hero p {
    font-size: 10px;
  }

  #hero a {
    font-size: 8px;
    height: 20px;
    width: 140px;
  }
}

@media (max-width: 412px) {
  #navbar {
    width: 200px;
  }
  #hero_img {
    height: 250px;
  }
  #hero_texts {
    height: 250px;
  }
}
