@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}



/* Header style section */

#header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e3e6f3;
	height: 70px;
	width: 100%;
	padding: 20px 40px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.06);
}

#logo{
	height: 70px;
	width: 70px;
}

#navbar{
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar li{
	list-style: none;
	padding: 0px 10px;
}

#navbar li a{
	text-decoration: none;
	color: #1a1a1a;
	font-weight: 600;
	font-size: 1rem;
}

#navbar li a:hover{
	color: rgb(72, 72, 244);
	transition: 0.1s;
}

#navbar li a.active{
	color: rgb(72, 72, 244);
}

#mobile {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 1rem;
}

#close {
	display: none;
}




























/* for ipad screen */

@media (max-width: 768px) {

	#mobile {
		display: flex;
		gap: 10px;
	}
	#mobile i{
		font-size: 24px;
	}
	#navbar {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 25px;
		height: 100vh;
		width: 300px;
		background-color: #e3e6f3;
		position: fixed;
		top: 0px;
		right: -300px;
		padding: 80px 0px 0px 10px;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		transition: 0.3s ease;
	}

	#close{
		display: flex;
		position: absolute;
		top: 30px;
		left: 20px;
		cursor: pointer;
		font-size: 20px;
	}

	#inside_cart{
		display: none;
	}

	#navbar.active{
		right: 0px;
	}

	#bar {
		cursor: pointer;
	}
}

/* for mobile screen */

@media (max-width: 431px) {
	#navbar {
		width: 200px;
	}
}